<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      App BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="ion-text-center">
    <img src="../../assets/img/3475243.png" style="width: 50%; height: auto;">
  </div>
  <ion-card color="dark" class="ion-padding">
    <ion-item>
      <ion-input label="กรองน้ำหนัก : " color="light" placeholder="kg"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="กรองส่วนสูง : " color="light" placeholder="cm"></ion-input>
    </ion-item>
      <div class="ion-text-center">
      <ion-button color="danger" size="large" expand="block" shape="round" class="ion-padding">คำนวณ</ion-button>
    </div>

  </ion-card>
    <ion-button color="dark" size="large" expand="block" class="ion-padding">ผลลัพธ์</ion-button>
  <ion-button color="dark" size="large" expand="block" class="ion-padding">แปรผล</ion-button>
</ion-content>
